asgiref==3.2.7
boto3==1.14.20
botocore==1.17.20
confusable-homoglyphs==3.2.0
Django==3.0.7
django-appconf==1.0.4
django-imagekit==4.0.2
django-registration==3.1
django-storages==1.9.1
django-webpack-loader==0.7.0
djangorestframework==3.11.0
docutils==0.15.2
jmespath==0.10.0
pilkit==2.0
Pillow==7.2.0
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
